
<header>
  <!--navbar aec bootstrap-->
  <nav class="navbar navbar-expand-lg fixed-top ">
    <span class="navbar-toggler-icon"><i class="fa fa-plane"  aria-hidden="true"></i></span>
    <a class="navbar-brand" > Best Tunisia Travel</a>
  
    <div class="container-fluid" > 
        <ul class="navbar-nav me-auto mb-2 mb-lg-3" style="margin-left:200px;gap: 50px;">
          <li class="nav-item active" > 
            <a class="nav-link" routerLinkActive="lienAct" routerLink="/acuiel">Acuiel</a>
          </li>
          <li class="nav-item active" > 
            <a class="nav-link" routerLinkActive="lienAct" routerLink="/cont">Contacte</a>
          </li>
       
          <li class="nav-item active">
            <a class="nav-link" routerLinkActive="lienAct" routerLink="/voyage">Voyage</a>
          </li>
           </ul>
           <form class="d-flex">
        
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"name="libelle" >Search</button>
        </form>
      </div>
  
  </nav>
</header>
<!--Nivbar-->


